server:
  port: 8086
spring:
  application:
    name: kakabot-messenger

  datasource:
    url: jdbc:h2:mem:kakabotdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console